:global(body) {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
}

:global(body) h1,
:global(body) h2,
:global(body) h3,
:global(body) h4,
:global(body) h5,
:global(body) h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.columnLayout {
  width: 100%;
}

.columnLayout > * + * {
  margin-top: 1rem;
}

.outer {
  max-width: var(--max-width);
  margin: 0 1rem;
}
@media screen and (min-width: 960px) {
  .outer {
    margin: 0 auto;
  }
}

.asideLogo {
  text-align: center;
}
