.columnLayout {
  width: 100%;
}

.columnLayout > * + * {
  margin-top: 1rem;
}

.outer {
  max-width: var(--max-width);
  margin: 0 1rem;
}
@media screen and (min-width: 960px) {
  .outer {
    margin: 0 auto;
  }
}

.asideLogo {
  text-align: center;
}
