:root {
  --max-width: 960px;
  --text-color-dim: #555;
  --text-color: #222;
  --border-color: #ddd;
  --border-radius: 8px;
  --color-highlight-primary: rgba(10, 231, 255, 1);
  --color-highlight-secondary: rgba(239, 255, 10, 1);
}
